<h1>CONTACT ME</h1>
 
<p class="lead">Join <strong><%= stats %></strong> 
others in my circle. Enter your email, your affiliation, and leave your message to me!</p>
 
<form method="POST" action='/submitted'>
 <input type="text" class="form" name="email" placeholder="Enter Your Email"><br>
 <input type="text" class="form" name="affiliation" placeholder="Enter Your affiliation"><br>
 <input type="text" class="form" name="message" placeholder="Leave your message to me"><br>
 <button>Connect Now</button>
</form>